h1{
    font-size: 45px;
    text-align: center;
}
#total{
    font-size: 40px;
    text-align: center;
}
table{
    margin-left: 30%;
    font-size: 30px;
}
#parrafo{
    margin-left: 6%;
    display: inline;
    font-size: 40px;
}
#parrafoDos{
    margin-left: 6%;
    display: inline;
    font-size: 40px;
}
#parrafoTres{
    margin-left: 40%;
    display: inline;
    font-size: 40px;
}
#id{
    margin-left: 30%;
    display: inline;
    font-size: 20px;
}
#producto{
    margin-left: 1%;
    display: inline;
    font-size: 20px;
}
#precio{
    margin-left: 10px;
    font-size: 20px;
    display: inline;
    margin-bottom: 20px;
}
button{
    margin-left: 10px;
    font-size: 25px;
}
